* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 

body {
  min-height: 100vh; 
  background-image: url('../public/weather-bg.jpeg');
  background-size: cover;
  background-position: center;
  color: #fff; /* Set default text color */

}



.title{
  font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(
        to right, #f32170, #ff6b08,
        #cf23cf, #eedd44);
        border-radius: 15px;
  }

.wrapper {
  margin: 15vh auto; 
  width: 90vw; 
  max-width: 450px; 
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(10px);
  padding: 40px 30px; 
  text-align: center; 
}

.wrapper h1 {
  
  font-weight: 600;
  font-size: 40px; 
  margin-bottom: 20px; 
}

.wrapper p {
  color: #fff;
  font-size: 16px; 
  line-height: 1.5; 
  margin: 20px 0; 
}

.btn-get {
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 18px; 
  color: #333;
  font-weight: 600;
  transition: background-color 0.3s ease; 
}

.wrapper .btn-get:hover {
  background-color: rgb(255, 230, 0);
  color: black;
}

.register-link {
  font-size: 14px; 
  margin-top: 15px; 
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin: 10vh 5vw; 
    width: auto; 
  }
}
