.today{
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  color:white;
  width: 100%;
  border-radius:10px;
  margin-top: 20px;
  padding: 25px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding-bottom: 10px;
}

.sunny,.today-temperature,.time{
  text-align: center;
}

.time{
  margin-bottom:5px;
}

.today-climate{
  text-align: center;
}

